h1 {
  margin-bottom: 15px;
  font-size: 60px;
  color: white;
  text-align: center;
  text-decoration: underline;
  background-color: black;
}

h2 {
  margin-top: 15px;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: available;
}

p {
  text-align: center;
  border-style: solid;
  font-weight: bold;
}

ul {
  text-align: center;
  border-style: solid;
}